openapi: 3.1.0
info:
  title: Foursquare Places API
  description: >-
    The Foursquare Places API provides global access to over 100 million points
    of interest (POI) for place search, details, autocomplete, geotagging
    (Place Snap), place matching, natural-language Ask search, and photos/tips.
    All requests target the current host https://places-api.foursquare.com,
    authenticate with a Service Key as a Bearer token, and must send the
    X-Places-Api-Version header. This OpenAPI describes the most commonly used
    endpoints; refer to the official documentation for the complete and
    authoritative reference.
  version: '2025-06-17'
  contact:
    name: Foursquare Developer Support
    url: https://docs.foursquare.com/
  license:
    name: Foursquare Developer Terms of Service
    url: https://foursquare.com/legal/api/platformpolicy
servers:
  - url: https://places-api.foursquare.com
    description: Foursquare Places API (current)
security:
  - serviceKey: []
tags:
  - name: Search
    description: Find and explore places
  - name: Details
    description: Retrieve attributes for a specific place
  - name: Photos
    description: Photos associated with a place
  - name: Tips
    description: User tips associated with a place
  - name: Autocomplete
    description: Type-ahead search for places, addresses, and geographies
  - name: Geotagging
    description: Resolve a coordinate to the most likely place (Place Snap)
  - name: Match
    description: Match an external POI record to a Foursquare place
  - name: Ask
    description: Natural-language place search with justifications
paths:
  /places/search:
    get:
      tags: [Search]
      summary: Search For Places
      description: >-
        Find places that match a query, location, category, chain, price, or
        radius. Returns a paged list of places ordered by the chosen sort.
      operationId: searchPlaces
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - in: query
          name: query
          schema: { type: string }
          description: Free-text search term (e.g., "coffee").
        - in: query
          name: ll
          schema: { type: string }
          description: Latitude,longitude pair (e.g., "40.7128,-74.0060").
        - in: query
          name: near
          schema: { type: string }
          description: Geocodable text location (e.g., "New York, NY").
        - in: query
          name: radius
          schema: { type: integer, maximum: 100000 }
          description: Search radius in meters (0-100000).
        - in: query
          name: ne
          schema: { type: string }
          description: Northeast corner of a bounding box (lat,lng).
        - in: query
          name: sw
          schema: { type: string }
          description: Southwest corner of a bounding box (lat,lng).
        - in: query
          name: fsq_category_ids
          schema: { type: string }
          description: Comma-separated Foursquare category ids.
        - in: query
          name: fsq_chain_ids
          schema: { type: string }
          description: Comma-separated Foursquare chain ids to include.
        - in: query
          name: exclude_fsq_chain_ids
          schema: { type: string }
          description: Comma-separated Foursquare chain ids to exclude.
        - in: query
          name: exclude_all_chains
          schema: { type: boolean }
          description: Return only non-chain (independent) places.
        - in: query
          name: min_price
          schema: { type: integer, minimum: 1, maximum: 4 }
          description: Minimum price tier (1-4).
        - in: query
          name: max_price
          schema: { type: integer, minimum: 1, maximum: 4 }
          description: Maximum price tier (1-4).
        - in: query
          name: open_now
          schema: { type: boolean }
          description: Restrict to places currently open.
        - in: query
          name: open_at
          schema: { type: string }
          description: Restrict to places open at a time in DOWTHHMM format (e.g., "1T2130").
        - in: query
          name: fields
          schema: { type: string }
          description: Comma-separated list of fields to include in each result.
        - in: query
          name: limit
          schema: { type: integer, default: 10, minimum: 1, maximum: 50 }
        - in: query
          name: sort
          schema:
            type: string
            enum: [RELEVANCE, RATING, DISTANCE, POPULARITY]
        - in: query
          name: tel_format
          schema:
            type: string
            enum: [NATIONAL, E164]
      responses:
        '200':
          description: A page of matching places.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceSearchResponse'
  /autocomplete:
    get:
      tags: [Autocomplete]
      summary: Autocomplete Query Suggestions
      description: Return type-ahead suggestions for places, addresses, and geographies.
      operationId: autocomplete
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - in: query
          name: query
          required: true
          schema: { type: string }
        - in: query
          name: ll
          schema: { type: string }
        - in: query
          name: radius
          schema: { type: integer, maximum: 100000 }
        - in: query
          name: types
          schema:
            type: string
          description: Comma-separated set such as place,address,geo.
        - in: query
          name: limit
          schema: { type: integer, default: 10, minimum: 1, maximum: 50 }
      responses:
        '200':
          description: Autocomplete suggestions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteResponse'
  /places/match:
    get:
      tags: [Match]
      summary: Match A Place
      description: >-
        Match an external POI record (name + address) to the canonical
        Foursquare place, returning the fsq_place_id and a match_score.
      operationId: matchPlace
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - in: query
          name: name
          required: true
          schema: { type: string }
          description: Name of the place to match.
        - in: query
          name: address
          required: true
          schema: { type: string }
          description: Street address (e.g., "1060 W Addison St").
        - in: query
          name: city
          required: true
          schema: { type: string }
          description: City or locality.
        - in: query
          name: state
          schema: { type: string }
          description: State or region.
        - in: query
          name: postal_code
          schema: { type: string }
        - in: query
          name: cc
          required: true
          schema: { type: string }
          description: ISO 3166-1 alpha-2 country code (e.g., "US").
        - in: query
          name: ll
          schema: { type: string }
          description: Latitude,longitude pair to disambiguate the match.
        - in: query
          name: fields
          schema: { type: string }
      responses:
        '200':
          description: A matched place with confidence score.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceMatchResponse'
  /places/ask:
    get:
      tags: [Ask]
      summary: Ask For Places
      description: >-
        Natural-language place search. Returns ranked places that answer a
        free-form question, each with justifications explaining the match.
      operationId: askPlaces
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - in: query
          name: query
          required: true
          schema: { type: string }
          description: Natural language query (e.g., "cheap cafes in Williamsburg").
        - in: query
          name: ll
          schema: { type: string }
          description: Latitude,longitude pair for "near me" intent.
        - in: query
          name: location
          schema: { type: string }
          description: Geocodable locality string (e.g., "Chicago, IL").
        - in: query
          name: context
          schema: { type: string }
          description: Query-specific personalization context (e.g., "traveling with kids").
        - in: query
          name: fields
          schema: { type: string }
      responses:
        '200':
          description: Ranked, justified places answering the query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AskResponse'
  /geotagging/candidates:
    get:
      tags: [Geotagging]
      summary: Find Geotagging Candidates
      description: >-
        Place Snap. Given a device coordinate (and optional accuracy), return
        the most likely places the user is currently located at, ordered by
        likelihood.
      operationId: geotaggingCandidates
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - in: query
          name: ll
          schema: { type: string }
          description: Latitude,longitude pair (e.g., "40.74,-74.0").
        - in: query
          name: hacc
          schema: { type: number, format: double }
          description: Horizontal accuracy radius in meters.
        - in: query
          name: altitude
          schema: { type: number, format: double }
          description: Altitude in meters above the WGS84 ellipsoid.
        - in: query
          name: query
          schema: { type: string }
          description: Optional string matched against candidate place names.
        - in: query
          name: limit
          schema: { type: integer, default: 10, minimum: 1, maximum: 50 }
        - in: query
          name: fields
          schema: { type: string }
      responses:
        '200':
          description: Candidate places for the supplied location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeotaggingResponse'
  /places/{fsq_place_id}:
    get:
      tags: [Details]
      summary: Get Place Details
      description: Retrieve details for a specific place by fsq_place_id.
      operationId: getPlace
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - in: path
          name: fsq_place_id
          required: true
          schema: { type: string }
        - in: query
          name: fields
          schema: { type: string }
          description: Comma-separated list of fields to include.
      responses:
        '200':
          description: A place object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Place'
  /places/{fsq_place_id}/photos:
    get:
      tags: [Photos]
      summary: Get Place Photos
      operationId: getPlacePhotos
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - in: path
          name: fsq_place_id
          required: true
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, default: 10, minimum: 1, maximum: 50 }
        - in: query
          name: sort
          schema:
            type: string
            enum: [POPULAR, NEWEST]
      responses:
        '200':
          description: Photos for the place.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Photo' }
  /places/{fsq_place_id}/tips:
    get:
      tags: [Tips]
      summary: Get Place Tips
      operationId: getPlaceTips
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - in: path
          name: fsq_place_id
          required: true
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, default: 10, minimum: 1, maximum: 50 }
        - in: query
          name: sort
          schema:
            type: string
            enum: [POPULAR, NEWEST]
      responses:
        '200':
          description: Tips for the place.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Tip' }
components:
  parameters:
    ApiVersion:
      in: header
      name: X-Places-Api-Version
      required: true
      description: Dated Places API version (e.g., "2025-06-17").
      schema:
        type: string
        default: '2025-06-17'
  securitySchemes:
    serviceKey:
      type: http
      scheme: bearer
      description: >-
        Service Key passed as a Bearer token in the Authorization header
        ("Authorization: Bearer <service-key>").
  schemas:
    Place:
      type: object
      properties:
        fsq_place_id: { type: string }
        name: { type: string }
        latitude: { type: number }
        longitude: { type: number }
        location:
          type: object
          properties:
            address: { type: string }
            locality: { type: string }
            region: { type: string }
            postcode: { type: string }
            admin_region: { type: string }
            post_town: { type: string }
            po_box: { type: string }
            country: { type: string }
            formatted_address: { type: string }
        categories:
          type: array
          items:
            type: object
            properties:
              fsq_category_id: { type: string }
              name: { type: string }
              short_name: { type: string }
              plural_name: { type: string }
              icon:
                type: object
                properties:
                  prefix: { type: string }
                  suffix: { type: string }
        chains:
          type: array
          items:
            type: object
            properties:
              fsq_chain_id: { type: string }
              name: { type: string }
        distance: { type: integer }
        rating: { type: number }
        price: { type: integer, minimum: 1, maximum: 4 }
        popularity: { type: number }
        verified: { type: boolean }
        date_closed: { type: string }
        tel: { type: string }
        email: { type: string }
        website: { type: string }
        social_media:
          type: object
          properties:
            facebook_id: { type: string }
            instagram: { type: string }
            twitter: { type: string }
        hours:
          type: object
          properties:
            display: { type: string }
            is_local_holiday: { type: boolean }
            open_now: { type: boolean }
        attributes:
          type: object
          properties:
            restroom: { type: string }
            outdoor_seating: { type: string }
            atm: { type: string }
            parking: { type: object }
            wifi: { type: string }
            delivery: { type: string }
            reservations: { type: string }
            credit_cards: { type: object }
        tastes:
          type: array
          items: { type: string }
        stats:
          type: object
          properties:
            total_photos: { type: integer }
            total_ratings: { type: integer }
            total_tips: { type: integer }
        photos:
          type: array
          items: { $ref: '#/components/schemas/Photo' }
        tips:
          type: array
          items: { $ref: '#/components/schemas/Tip' }
    PlaceSearchResponse:
      type: object
      properties:
        results:
          type: array
          items: { $ref: '#/components/schemas/Place' }
        context:
          type: object
          properties:
            geo_bounds:
              type: object
    AutocompleteResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              type: { type: string }
              text:
                type: object
                properties:
                  primary: { type: string }
                  secondary: { type: string }
              place: { $ref: '#/components/schemas/Place' }
    PlaceMatchResponse:
      type: object
      properties:
        place:
          allOf:
            - $ref: '#/components/schemas/Place'
            - type: object
              properties:
                match_score:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: Confidence of the match (0-1; higher is stronger).
    AskResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              justifications:
                type: array
                items: { type: string }
                description: Human-readable reasons the place matches the query.
              place: { $ref: '#/components/schemas/Place' }
    GeotaggingResponse:
      type: object
      properties:
        candidates:
          type: array
          items: { $ref: '#/components/schemas/Place' }
    Photo:
      type: object
      properties:
        id: { type: string }
        created_at: { type: string, format: date-time }
        prefix: { type: string }
        suffix: { type: string }
        width: { type: integer }
        height: { type: integer }
    Tip:
      type: object
      properties:
        id: { type: string }
        created_at: { type: string, format: date-time }
        text: { type: string }
